
body {
    font-family: "Poppins", sans-serif;
    background-color: #010101;
    color: #eee;
    margin: 0;
}

svg {
    width: 25px;
}

header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo {
    font-weight: bold;
}

header .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top , #000 40%, transparent
    );
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 500px;
    height: auto;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 15px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: 0.5s;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}

.thumbnails {
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 11;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 180px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
}

.thumbnails::-webkit-scrollbar {
    width: 0;
}

.thumbnails .item {
    width: 195px;
    height: 150px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
}

.thumbnails .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnails .item.active {
    filter: brightness(1.5);
}

.thumbnails .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media (max-width: 767.98px) {
    .thumbnails {
        justify-content: start;
    }

    .thumbnails .item {
        width: 150px;
        height: 120px;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
        right: 20px;
    }

    .arrows button {
        width: 30px;
        height: 30px;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 12px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .thumbnails {
        justify-content: start;
        padding-top: 20px;
    }

    .thumbnails .item {
        width: 170px;
        height: 130px;
    }

    .slider .list .item .content h2 {
        font-size: 70px;
    }

    .arrows {
        top: 20%;
        right: 40px;
    }

    .arrows button {
        width: 30px;
        height: 30px;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 13px;
    }

}
    

